{% extends 'base.html' %}

{% block container %}

<div class="card">
  <div class="card-header">
    <h2 class="card-title my-5">Контакты</h2>
  </div>
  <div class="card-body">
      <address>
          <strong>Антон Дудин</strong>
      </address>
      <address>
          <abbr title="Phone">Телефон:</abbr>
          +7 (985) 777-53-52
          <br>
          <abbr title="Phone">Телефон:</abbr>
          +7 (495) 258-19-88, доб. 614
          <br>
          <abbr title="Email">Email:</abbr>
          <a href="mailto:#">ADudin@veles-capital.ru</a>
      </address>

  </div>
</div>

{% endblock %}